/********************************************************************

//*** Nadin Musallam and Adrienne Loc
//*** Database Systems
//*** December 11, 2023
//*** Final Project: The purpose of this project was to understand and explore the connection between web pages, the server, and the database.

**********************************************************************/
label {
    font-size: 25px;
    color:aliceblue;
    font-weight:bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h3 {
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color:burlywood
}
select, option {
    width:200px
}
