/********************************************************************

//*** Nadin Musallam and Adrienne Loc
//*** Database Systems
//*** December 11, 2023
//*** Final Project: The purpose of this project was to understand and explore the connection between web pages, the server, and the database.

**********************************************************************/

td, tr, th {
    text-align:center;
    vertical-align:middle;
}
.table-striped>tr:nth-child(odd){
    background-color:rgb(189, 147, 75);
 }